/* -------------------- IMPORTED FONTS -------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Habibi&family=Irish+Grover&display=swap');

/*-------------------- CSS REST ---------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------------------- ROOT VARIABLES --------------------------------------- */
:root {
    --green: #06A816;
    --orange: #E75D02;
    --black: #000000;
    --white: #ffffff;
    --font-primary: 'Habibi', serif;
    --font-heading: 'Irish Grover', cursive;
}

/* -------------------- GLOBAL STYLES (mobile first/small) -------------------- */
body {
    font-family: var(--font-primary);
    color: var(--black);
    background-color: var(--white);
}

header {
    background-color: var(--green);
    color: var(--white);
    margin-bottom: 30px;
}

nav {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

nav a {
    background-color: var(--orange);
    color: var(--white);
    padding: 10px 20px;
    text-decoration: none;
    display: block;
    width: 80%;
    border-radius: 5px;
}

h1 {
    font-family: var(--font-heading);
    font-size: 2.5em;
    color: var(--white);
}

h2 {
    font-family: var(--font-heading);
    font-size: 1.75em;
    color: var(--black);
    margin-top: 30px;
}

h3 {
    font-family: var(--font-primary);
    font-size: 1.25em;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}

ul, li, a {
    font-family: var(--font-primary);
    font-size: 1.25em;
    color: var(--white);
    list-style-type: none;
    text-align: center;
}


section ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 100%;
    margin: auto;
}

section ul li img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

footer {
    background-color: var(--green);
    color: var(--white);
    margin-bottom: 30px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

a.top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--orange);
    color: var(--white);
    text-decoration: none;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}
.copyright {
    text-align: center;
    font-size: 0.9em;
    color: var(--green);
    margin-top: 10px;
    padding: 10px 0;
}
/*-------------------- MEDIA QUERY (medium) --------------------------------*/
@media (min-width: 834px) {
    section ul {
        grid-template-columns: repeat(2, 1fr);
    }
    nav {
        flex-direction: row;
        justify-content: center;
    }
    nav a {
        width: auto;
    }
    
    section ul {
        margin: auto;
    }
    section ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    nav {
        flex-direction: row;
        justify-content: center;
    }
    nav a {
        width: auto;
    }
}

/*-------------------- MEDIA QUERY (large) ------------------------------------*/
@media (min-width: 1280px) {
    section ul {
        grid-template-columns: repeat(3, 1fr);
    }
    section ul {
        margin: auto;
    }
    nav {
        justify-content: center;
    }
    nav a {
        width: auto;
    }
    section ul {
        grid-template-columns: repeat(3, 1fr);
    }
}

/*-------------------- MEDIA QUERY (xl) ---------------------------------------*/
@media (min-width: 1440px) {
    section ul {
        grid-template-columns: repeat(4, 1fr);
    }
    section ul {
        margin: auto;
    }
    nav {
        justify-content: center;
    }
    nav a {
        width: auto;
    }
    section ul {
        grid-template-columns: repeat(4, 1fr);
    }
}
